/* The Modal (background) */
.modal {
  display: none; /*Hidden by default*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  animation-name: fadeIn_Modal;
  animation-duration: 0.8s;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  max-width: 450px !important;
  height: fit-content;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 24px;
  direction: rtl;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: fadeIn_Container;
  animation-duration: 1s;
}
#final-buy{
  width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#count-input{
  margin-bottom: 10px;
  width: 50px;
}
#count-input:focus{
  outline: none;
}
.close {
  color: #aaa;
  float: left;
  margin-top: -2%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn_Modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn_Container {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fadeOut_Modal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut_Container {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}
